NODE_ENV=development
DB_SERVER=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres

MEETUP_OAUTH_KEY=
MEETUP_OAUTH_SECRET=
MEETUP_REDIRECT_URI=http://localhost:3001/oauth/auth
MEETUP_REFRESH_TOKEN=
ARENA_PASSWORD=
ADMIN_TOKEN=
SENTRY_DSN=
JWT_SECRET=

TELEGRAM_CHAT_ID=
TELEGRAM_BOT_TOKEN=